<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="The Movie DB">
    <test name="Regression" preserve-order="true">
        <classes>
            <class name="tests.Authentication"/>
            <class name="tests.Lists"/>
            <class name="tests.Movies"/>
        </classes>
    </test> <!-- Test -->
</suite>
        <!-- Suite -->